@import "~src/_variables";

.course-card {
  background-color: $white;
  padding: 20px;
  border-radius: 4px;
  margin: 20px auto;
}

.course-info {
  display: flex;
  justify-content: space-between;

  &-details {
    color: $text-grey;
  }
}

.course-description {
  display: flex;
  justify-content: space-between;
}

.course-buttons {
  display: flex;
  flex-direction: row;
  height: 36px;
  align-items: center;
}

.course-button {
  margin: 10px;
}

.mat-icon {
  font-size: 18px;
  margin-left: 10px;
}

.icon {
  margin-right: 10px;
}