<div class="course-card">
	<div class="course-info">
		<h2>
			{{ course?.title | uppercase }}
		</h2>
		<div class="course-info-details">
			<span class="icon">
				<mat-icon>access_time</mat-icon>{{ course?.duration }}
			</span>
			<span class="icon">
				<mat-icon>calendar_today</mat-icon>{{ course?.creationDate | date }}
			</span>
		</div>
	</div>
	<div class="course-description">
		<p>{{ course?.description }}</p>
		<div class="course-buttons">
			<button mat-raised-button
					color="primary"
					class="course-button">
				<mat-icon>edit</mat-icon>
				Edit
			</button>
			<button mat-raised-button
					color="primary"
					class="course-button"
					(click)="delete()">
				<mat-icon>delete</mat-icon>
				Delete
			</button>
		</div>
	</div>
</div>