@import "~src/_variables";

.courses {
  background-color: $background-grey;
  padding: 20px;
}

.add-course {
  display: flex;
  justify-content: flex-end;
  color: $white;
}

.load-more {
  background-color: $white;
  padding: 15px;
  border-radius: 4px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}
