<div class="add-course">
	<div class="add-course-form">
		<h2>New Course</h2>
		<div class="labels">
			<span>Title:</span>
			<span class="required">*required</span>
		</div>
		<mat-form-field appearance="outline">
			<input matInput
				   placeholder="Text input" />
		</mat-form-field>
		<div class="labels">
			<span>Description:</span>
			<span class="required">*required</span>
		</div>
		<mat-form-field>
			<textarea matInput
					  rows="5"
					  class="description-input"
					  placeholder="Add description"></textarea>
		</mat-form-field>
		<div class="labels">
			<span>Duration:</span>
			<span class="required">*required</span>
		</div>
		<mat-form-field appearance="outline"
						class="duration">
			<input matInput
				   placeholder="minutes" />
		</mat-form-field>
		<div class="labels">
			<span>Date:</span>
			<span class="required">*required</span>
		</div>
		<mat-form-field appearance="outline"
						class="date">
			<input matInput
				   placeholder="MM/DD/YY" />
		</mat-form-field>
		<div class="labels">
			<span>Authors:</span>
			<span class="required">*required</span>
		</div>
		<mat-form-field appearance="outline"
						class="authors">
			<input matInput
				   placeholder="Start typing" />
		</mat-form-field>
		<div class="form-submit">
			<button mat-raised-button
					(click)="onCancel()"
					routerLink="/"
					class="cancel">Cancel</button>
			<button mat-raised-button
					color="accent"
					(click)="onSave()">Save</button>
		</div>
	</div>
</div>