<div class="add-course">
	<div class="add-course-form">
		<h2 *ngIf="isAddMode">New Course</h2>
    <h2 *ngIf="!isAddMode">Edit Course</h2>
		<div class="labels">
			<span>Title:</span>
			<span class="required">*required</span>
		</div>
		<mat-form-field appearance="outline">
			<input matInput
				   placeholder="Text input" />
		</mat-form-field>
		<div class="labels">
			<span>Description:</span>
			<span class="required">*required</span>
		</div>
		<mat-form-field>
			<textarea matInput
					  rows="5"
					  class="description-input"
					  placeholder="Add description"></textarea>
		</mat-form-field>
		<app-duration></app-duration>
		<app-date></app-date>
    <app-authors></app-authors>
		<div class="form-submit">
			<button mat-raised-button
					(click)="onCancel()"
					routerLink="/"
					class="cancel">Cancel</button>
			<button mat-raised-button
							color="accent"
							(click)="onSave()"
							class="save-btn">Save</button>
		</div>
	</div>
</div>