@import '~src/_variables';

.dialog {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  box-shadow: 0 0 15px 15px #f8f8f8;

  &-header {
    font-size: 20px;
    font-weight: 500;
  }

  &-text {
    font-size: 18px;
    margin: 30px 0 30px;
  }

  &-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
  }

  &-confirm {
    margin-left: 10px;
    color: $white;
  }
}

.mat-dialog-container {
  padding: 0 !important;
}

.separator {
  width: 100%;
  margin-top: 20px;
  border: solid 1px $grey;
}